@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

.App {
  text-align: center;
  padding-bottom: 30px;
}

body {
  margin: 0;
  padding-bottom: 30px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #D0F1E4, #B1B3F3, #95AAF3);
  color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: 'Baloo 2', sans-serif;
  font-size: 4rem;
  margin-top: 60px;
  font-weight: bold;
  color: #fff5de;
  text-shadow: 
    -0.5px  0.5px 0 #203D5F,  
     1px  1px 0 #203D5F; /* Creates an outline effect */
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.21rem;
  color: black;
  font-weight: 200;
  margin-top: -45px;
  margin-bottom: 20px;
  opacity: 0.9;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 21px;
  margin-top: 10px;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #6a89cc, #a29bfe); /* Gradient */
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 50px; /* Rounded edges */
  padding: 15px 25px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.nav-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.nav-button span {
  margin-left: 8px;
  font-size: 1.3rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

nav a:hover {
  background: #E8CCFB;
}

.event-type-dropdown {
  padding: 7px;
  width: 300px;
  border: 2px solid #CCCCCC;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 16px;
  color: #757575;
  text-align: center;
  margin-top: -25px;
}

/* login page */
h2{
  font-size: 2rem;
  margin: 20px 0;
  font-weight: bold;
  color: #223A60;
}

/* event list */
ul {
  list-style-type: none;
  padding: 0;
  max-width: 900px;
  margin: auto;
}

li {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 768px) {
  ul {
    padding: 0 15px; 
  }
}

li:hover {
  transform: translateY(-5px);
}

/* event links */
li h3 a {
  text-decoration: none;
  color: #223A60;
  transition: color 0.3s ease-in-out;
}

li h3 a:hover {
  color: #223A60;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
