
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 20px;
    background-color: #FCFCFC;
    border: 2px solid #9CB1FC;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  /* input fields */
  input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    border-color: #9CB1FC; 
  }
  
  button {
    padding: 10px;
    background-color: #ffffff;
    color: #807c7c;
    border: none;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #FCF6EA; 
  }
  
  /* heading */
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }
  